<head>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<form
  method="POST"
  action="/login"
  style="max-width: 220px; margin: 2rem auto;color:red"
>
  <h2>Login</h2>
  <div><label>Username:</label>
    <input type="text" name="username" required />
  </div>
  <div>
    <label>Password:</label>
    <input type="password" name="password" required />
  </div>
  <br />
  <button
    class="centered-button"
    style="text-align: center;"
    type="submit"
  >Login</button>
</form>